---
import type { TrainingCard } from "../utils/types.ts";

const cards: TrainingCard[] = [
  {
    name: "Pupils",
    ageGroup: "up to 12 years old",
    image: "/images/pupils.webp",
    trainingDays: "Thu. 18:00 to 19:30",
    description: [
      "The team consists of children aged 7 to 12 years. We are still looking for enthusiastic new members for this team!",
      "Fun and games are paramount. The team consists of fun, friendly and sweet kids. Everyone belongs!",
      "During the season (March to October) we have 1 training session during the week and a match on Saturday morning. In the winter we train indoors in January and February.",
    ],
    coaches: [
      { name: "Rigo Nicolaas", phone: "+316-11466082" },
      { name: "Moniek de Haas", phone: "+316-24901447" },
    ],
  },
  {
    name: "Aspirants",
    ageGroup: "up to 16 years old",
    image: "/images/aspirants.webp",
    trainingDays: "Tue and Thu. 18:00 to 19:30",
    description: [
      "Have you got the energy? Our team is for players aged 12 to 15, and we're always looking for passionate players!",
      " We focus on fun, friendship, and baseball—a positive, respectful environment where everyone belongs.",
      "Seasonal play: Practices twice a week (March–October), with games every Saturday morning.",
      "Winter prep: Indoor training sessions in January and February to keep skills sharp.",
    ],
    coaches: [{ name: "Bart Frusch", phone: "+316-53451497" }],
  },
  {
    name: "Seniors",
    ageGroup: "from 16 years old",
    image: "/images/seniors.jpeg",
    trainingDays: "Wed. 18:00 to 20:00",
    description: [
      "Are you ready to play again? Our team is open to adults aged 16 and up—new players are always welcome!",
      "We value fun, fitness, and friendship in a relaxed environment. Whether you're brushing off the rust or staying active, there's a spot for you. Stick around after games for team get-togethers—or just a cold one!",
      "During the season (March–October), we do one evening training session per week + Sunday games. During the winter (January–February), indoor practice to sharpen skills and stay game-ready.",
    ],
    coaches: [
      { name: "Marko Te Brinke", phone: "+316-48312137" },
      { name: "Paul Brobst", phone: "+316-27574372" },
    ],
  },
];

console.log(cards);
---

<section id="trainings" class="mx-auto max-w-screen-xl mt-8">
  <h2 class="text-2xl font-semibold text-gray-900 sm:text-3xl text-center">
    Trainings
  </h2>
  <div class="grid grid-cols-1 gap-4 lg:grid-cols-3 lg:gap-8 mt-4 mx-3 lg:mx-0">
    {
      cards.map((card) => {
        return (
          <article class="overflow-hidden rounded-lg shadow-sm transition hover:shadow-lg">
            <img
              alt={card.name}
              src={card.image}
              class="h-56 w-full object-cover"
            />
            <div class="bg-white p-4 sm:p-6">
              <div class="flex justify-end">
                <span class="rounded-full bg-blue-100 px-2.5 py-0.5 text-sm whitespace-nowrap text-blue-700">
                  {card.trainingDays}
                </span>
              </div>

              <h3 class="mt-0.5 text-lg text-gray-900">
                <b>{card.name}</b> ({card.ageGroup})
              </h3>

              {card.description.map((line) => {
                return <p class="mt-2 text-sm/relaxed text-gray-500">{line}</p>;
              })}

              <div class="mt-2">
                <p class="mt-2 text-sm/relaxed text-gray-500 font-bold">
                  Coaches
                </p>

                <ul class="mt-2 list-disc pl-5 text-sm/relaxed text-gray-500">
                  {card.coaches.map((coach) => {
                    return (
                      <li>
                        <span class="font-semibold">{coach.name}</span> (
                        <a href={coach.phone}>{coach.phone}</a>)
                      </li>
                    );
                  })}
                </ul>
              </div>
            </div>
          </article>
        );
      })
    }
  </div>
</section>
