---
import type { TrainingCard } from "../utils/types.ts";

const { t } = Astro.props;

const cards: TrainingCard[] = [
  {
    name: t("trainings.card1.title"),
    ageGroup: t("trainings.card1.ageGroup"),
    image: "/images/pupils.webp",
    trainingDays: t("trainings.card1.trainingDays"),
    description: [
      t("trainings.card1.description1"),
      t("trainings.card1.description2"),
      t("trainings.card1.description3"),
    ],
    coaches: [
      { name: "Rigo Nicolaas", phone: "+316-11466082" },
      { name: "Moniek de Haas", phone: "+316-24901447" },
    ],
  },
  {
    name: t("trainings.card2.title"),
    ageGroup: t("trainings.card2.ageGroup"),
    image: "/images/aspirants.webp",
    trainingDays: t("trainings.card2.trainingDays"),
    description: [
      t("trainings.card2.description1"),
      t("trainings.card2.description2"),
      t("trainings.card2.description3"),
      t("trainings.card2.description4"),
    ],
    coaches: [{ name: "Bart Frusch", phone: "+316-53451497" }],
  },
  {
    name: t("trainings.card3.title"),
    ageGroup: t("trainings.card3.ageGroup"),
    image: "/images/seniors.jpeg",
    trainingDays: t("trainings.card3.trainingDays"),
    description: [
      t("trainings.card3.description1"),
      t("trainings.card3.description2"),
      t("trainings.card3.description3"),
    ],
    coaches: [
      { name: "Marko Te Brinke", phone: "+316-48312137" },
      { name: "Paul Brobst", phone: "+316-27574372" },
    ],
  },
];

---

<section id="trainings" class="mx-auto max-w-screen-xl mt-8 py-8">
  <h2 class="text-2xl font-semibold text-gray-900 sm:text-3xl text-center">
    {t("trainings")}
  </h2>
  <div class="grid grid-cols-1 gap-4 lg:grid-cols-3 lg:gap-8 mt-4 mx-3 lg:mx-0">
    {
      cards.map((card) => {
        return (
          <article class="overflow-hidden rounded-lg shadow-sm transition hover:shadow-lg">
            <img
              alt={card.name}
              src={card.image}
              class="h-56 w-full object-cover"
            />
            <div class="bg-white p-4 sm:p-6">
              <div class="flex justify-end">
                <span class="rounded-full bg-blue-100 px-2.5 py-0.5 text-sm whitespace-nowrap text-blue-700">
                  {card.trainingDays}
                </span>
              </div>

              <h3 class="mt-0.5 text-lg text-gray-900">
                <b>{card.name}</b> ({card.ageGroup})
              </h3>

              {card.description.map((line) => {
                return <p class="mt-2 text-sm/relaxed text-gray-500">{line}</p>;
              })}

              <div class="mt-2">
                <p class="mt-2 text-sm/relaxed text-gray-500 font-bold">
                  Coaches
                </p>

                <ul class="mt-2 list-disc pl-5 text-sm/relaxed text-gray-500">
                  {card.coaches.map((coach) => {
                    return (
                      <li>
                        <span class="font-semibold">{coach.name}</span> (
                        <a href={coach.phone}>{coach.phone}</a>)
                      </li>
                    );
                  })}
                </ul>
              </div>
            </div>
          </article>
        );
      })
    }
  </div>
</section>
